<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FrontApp - 03_css Page</title>
</head>
<body>
    <!--
        CSS : Cascading Style Sheets)
        - 보통 "스타일 시트"라고 칭합니다.
    -->
    <h3 style="color:rgb(247, 247, 248); background-color:cornflowerblue">
        FrontApp - 03_css Page</h3> 
    <hr>
    <p>
        <a href="/front/" style="color:rgb(253, 253, 253); background-color:cornflowerblue">
            [FrontApp 바로가기]
        </a>
         | 
        <a href="/front/" style="color:rgb(253, 253, 253); background-color:cornflowerblue">
            [FrontApp 바로가기]
        </a>
    </p>
</body>
</html>