<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FrontApp - 04_css Page</title>
    <style>
        h3 {
            background-color: rgb(160, 162, 250);
            color: rgb(252, 251, 253);
        }
        a {
            background-color: rgb(160, 162, 250);
            color: rgb(255, 255, 255);
        }
    </style>
</head>
<body>
    <!--
        CSS : Cascading Style Sheets)
        - 보통 "스타일 시트"라고 칭합니다.
    -->
    <h3>
        FrontApp - 04_css Page</h3> 
    <hr>
    <p>
        <a href="/front/">
            [FrontApp 바로가기]
        </a>
    </p>
</body>
</html>