<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FrontApp - 05_css Page</title>
    <!--외부 스타일 시트 파일(*.css) 불러들이기-->
    <link href="/static/frontapp/css/front.css"
            rel="stylesheet" type="text/css">
</head>
<body>
    <!--
        CSS : Cascading Style Sheets)
        - 보통 "스타일 시트"라고 칭합니다.
    -->
    <h3>
        FrontApp - 05_css Page</h3> 
    <hr>
    <p>
        <a href="/front/">
            [FrontApp 바로가기]
        </a>
    </p>
</body>
</html>