<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:::FrontApp - 01_html 페이지:::</title>
</head>
<body>
    <h3>FrontApp - 01_html 페이지</h3>
    <hr/>
    <a href="/front/">[FrontApp 바로가기]</a>
    <hr/>
    <p>
        p태그는 문장에서 문단, 
        즉 단락을 나누는 역할을 수행하는 태그 입니다.
        줄바꿈을 해도 한줄로만 인식을 하는 태그 입니다.
        <br/>
        - 줄바꿈 하려면 br 태그를 사용해야 합니다.
    </p>
    <p>
        p태그는 문장에서 문단, 
        즉 단락을 나누는 역할을 수행하는 태그 입니다.
        줄바꿈을 해도 한줄로만 인식을 하는 태그 입니다.
        <br/>
        <p>
            - 줄바꿈 하려면 br 태그를 사용해야 합니다.
        </p>
    </p>
    <pre>
        pre태그는 내가 작성한 모양 그대로를 출력해 줍니다.
         - 줄바꿈도 자동으로 해줍니다.
            -- 들여쓰기도 자동으로 됩니다.
         - 텍스트 굵기는 가장 기본 굵기를 사용합니다.
           (p태그 내에 작성된 텍스트는 볼드체(굵게) 표시됩니다.)
    </pre>
    <pre>
pre태그는 내가 작성한 모양 그대로를 출력해 줍니다.
    - 줄바꿈도 자동으로 해줍니다.
    -- 들여쓰기도 자동으로 됩니다.
    - 텍스트 굵기는 가장 기본 굵기를 사용합니다.
    (p태그 내에 작성된 텍스트는 볼드체(굵게) 표시됩니다.)
    </pre>
</body>
</html>