<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:::FrontApp - 03_css 페이지:::</title>
</head>
<body>
    <!--
        (CSS : Cascading Style Sheets)
         - 보통 "스타일 시트"라고 칭합니다.
    -->
    <h3 style="background-color: rgb(10, 100, 0); color: white;">
        FrontApp - 03_css 페이지
    </h3>
    
    <hr/>

    <a href="/front/" style="color: aqua; background-color: blue;">
        [FrontApp 바로가기]
    </a> 
     | 
    <a href="/front/" style="color: aqua; background-color: blue;">
        [FrontApp 바로가기]
    </a>
    <hr/>
</body>
</html>