<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:::FrontApp - 04_css 페이지:::</title>
    <style>
        h3 {
            background-color: black;
            color: yellow;
        }

        a {
            background-color: green;
            color: aqua;
        }
    </style>
</head>
<body>
    <!--
        (CSS : Cascading Style Sheets)
         - 보통 "스타일 시트"라고 칭합니다.
    -->
    <h3>
        FrontApp - 04_css 페이지
    </h3>
    
    <hr/>

    <a href="/front/">
        [FrontApp 바로가기]
    </a> 
    <hr/>

    <h3>
        h3 스타일이 이곳에도 적용됩니다.
    </h3>
</body>
</html>