<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인/로그아웃 페이지</title>
    <script type="text/javascript">
        // 로그인 처리 버튼
        function goLogin(){
            fm = document.getElementById("fm");

            // 아이디 및 패스워드 입력되었는지 확인 처리
            if(fm.mem_id.value == ""){
                alert("아이디를 입력하여 주세요!");
                fm.mem_id.focus();
                return
            }

            if(fm.mem_pass.value == ""){
                alert("패스워드를 입력하여 주세요!");
                fm.mem_pass.focus();
                return
            }

            // 페이지 주소 설정 및 전송 시키기
            //  - 페이지 주소 : /mysql/login/
            //  - 함수명 : login
            //  - 아이디와 패스워드 전송 받아 놓습니다.
            //  - html 페이지 없음 : HttpResponse("여기는 login 페이지입니다. 출력하기")
            fm.action = "/mysql/login/";
            fm.submit();
        }

        // 로그아웃 처리하기
        function goLogout(){
            location.href = "/mysql/logout/";
        }
    </script>
</head>
<body>
*** 세션에 저장된 회원아이디 출력 : {{ request.session.ses_mem_id }}

<!-- 세션 정보가 있는지 확인하기 -->
{% if request.session.ses_mem_id == None %}
    <!-- 로그인이 안된 상태에 대한 화면 처리 -->
    <form id="fm" name="fm" method="post" action="#">
        {% csrf_token %}

        <h3>로그인이 안된 상태</h3>
        <hr>
        * 아이디 : <input type="text" name="mem_id">
        <br>
        * 패스워드 : <input type="password" name="mem_pass">
        <hr>
        <input type="button" value="로그인" onclick="goLogin()">
    </form>

{% else %}
    <!-- 로그인이 성공한 상태에 대한 화면 처리 -->
    <h3>로그인 성공 상태</h3>
    <hr>
    * 세션에 저장된 ID : {{ request.session.ses_mem_id }}
    <hr>
    <button onclick="goLogout()">로그아웃</button>
{% endif %}
</body>
</html>