<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <script type="text/javascript">
        function goLogin(){

            fm = document.getElementById("fm");

            mem_name = fm.mem_name.value;

            mem_id = fm.mem_id.value;

            mem_pass = fm.mem_pass.value;

            if(mem_name == ""){
                alert("이름을 입력하시오.");
                fm.mem_name.focus();
                return;
            }

            if(mem_id == ""){
                alert("아이디를 입력하시오.");
                fm.mem_id.focus();
                return;
            }

            if(mem_pass == ""){
                alert("비밀번호를 입력하시오.");
                fm.mem_pass.focus();
                return;
            }

            fm.action = "/second/logincheck/";

            fm.submit();
        }
    </script>
</head>
<body>
    <h3>SecondApp Login Page</h3>
    <hr>
    <p>
        <a href="/second/">[SecondApp 바로가기]</a>
    </p>
    <hr/>

<form id="fm" name="fm" method="post" action="#">
    {% csrf_token %}

    * 이름 : <input type="text" name="mem_name" value="">
    <br>
    * 아이디 : <input type="text" name="mem_id" value="">
    <br>
    * 패스워드 : <input type="password" name="mem_pass" value="">
    <hr>
    <input type="button" value="로그인하기" onclick="goLogin()">
    
</body>
</html>