{% extends 'frontapp/extend/21_extend_layout.html' %}


{% block content %}    
<div id="section1">
    <h3>공지사항</h3>
    <ul>
        <li>[필독] 금일 공지사항..!!</li>
        <li>[필독] 금일 공지사항..!!</li>
        <li>[필독] 금일 공지사항..!!</li>
        <li>[필독] 금일 공지사항..!!</li>
        <li>[필독] 금일 공지사항..!!</li>
    </ul>
</div>
<div id="section2">
    <h3>질문/답변</h3>
    <ul>
        <li>[필독] 금일 질문/답변..!!</li>
        <li>[필독] 금일 질문/답변..!!</li>
        <li>[필독] 금일 질문/답변..!!</li>
        <li>[필독] 금일 질문/답변..!!</li>
        <li>[필독] 금일 질문/답변..!!</li>
    </ul>
</div>
{% endblock %}