{% extends 'frontapp/extend/21_extend_layout.html' %}


{% block content %} 

<table border="1">
    <!--테이블의 첫번째 행은 주로 각 열의 제목을 작성합니다.-->
    <tr>
        <th width="50">번호</th>
        <th width="500">제목</th>
        <th width="100">작성자</th>
    </tr>
    <tr>
        <td>1</td>
        <td class="td_left">질문 있습니다.질문 있습니다.질문 있습니다. 1</td>
        <td>홍길동1</td>
    </tr>
    <tr>
        <td>2</td>
        <td class="td_left">질문 있습니다.질문 있습니다.질문 있습니다. 2</td>
        <td>홍길동2</td>
    </tr>
    <tr>
        <td>3</td>
        <td class="td_left">질문 있습니다. 3</td>
        <td>홍길동1</td>
    </tr>
</table>

{% endblock %}