<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainApp Page</title>
</head>
<body>
    <h3>FirstApp</h3>
    <p>
        <a href="/first/">[FirstApp 바로가기]</a>
    </p>

    <h3>SecondApp</h3>
    <p>
        <a href="/second/">[SecondApp 바로가기]</a>
    </p>

    <h3>ThirdApp</h3>
    <p>
        <a href="/third/">[ThirdApp 바로가기]</a>
    </p>

    <h3>FrontApp</h3>
    <p>
        <a href="/front/">[FrontApp 바로가기]</a>
    </p>

    <h3>MysqlApp</h3>
    <p>
        <a href="/mysql/">[MysqlApp 바로가기]</a>
    </p>
</body>
</html>