<!DOCTYPE html>
<html>
<!--html 문서의 기본 정보 정의-->
<head>
    <!--html 문서의 기본 정보 정의-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::: MainApp Page :::</title>
</head>

<!--body 태그 영역은 브라우저에 보이는 영역으로 우리가 만들어 주는 부분-->
<body>
    <!--html 주석-->
    <!--firstapp 바로가기 만들기-->
    <!--h태그 : bold체 숫자가 작을수록 커집니다.(1~5)-->
    <h3>FirstApp</h3>
    <!--p태그 : 문단 영역을 지정-->
    <p>
        <!--a태그 : 링크처리(마우스 클릭 이벤트 발생)+
            href : 이동할 페이지 주소 지정-->
        <a href="/first/">[FirstApp 바로가기]</a>
    </p>

    <!--secondapp 바로가기 만들기-->
    <h3>SecondApp</h3>
    <p>
        <a href="/second/">[SecondApp 바로가기]</a>
    </p>

    <!--thirdapp 바로가기 만들기-->
    <h3>ThirdApp</h3>
    <p>
        <a href="/third/">[ThirdApp 바로가기]</a>
    </p>
</body>
</html>