<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FrontApp - Index Page</title>
</head>
<body>
    <h3>FrontApp - Index Page</h3>
    <hr>
    <p>
        <a href="/">[MainApp 바로가기]</a>
    </p>
    <hr>
    <p>
        <a href="/front/01_html/">[01_html Page 바로가기]</a>
    </p>
    <hr>
    <p>
        <a href="/front/02_link/">[02_link Page 바로가기]</a>
    </p>
    <hr>
    <p>
        <a href="/front/03_css/">[03_css Page 바로가기]</a>
    </p>
    <hr>
    <p>
        <a href="/front/04_css/">[04_css Page 바로가기]</a>
    </p>
    <hr>
    <p>
        <a href="/front/05_css/">[05_css Page 바로가기]</a>
    </p>
    <hr>
    <p>
        <a href="/front/06_css/">[06_css Page 바로가기]</a>
    </p>
    <hr>
    <p>
        <a href="/front/07_table/">[07_table Page 바로가기]</a>
    </p>
    <hr>
    <p>
        <a href="/front/08_table/">[08_table Page 바로가기]</a>
    </p>
    <hr>
    <p>
        <a href="/front/09_table/">[09_table Page 바로가기]</a>
    </p>
    <hr>
    <p>
        <a href="/front/10_ul/">[10_ul Page 바로가기]</a>
    </p>
    <hr>
    <p>
        <a href="/front/11_div/">[11_div Page 바로가기]</a>
    </p>
    <hr>
    <p>
        <a href="/front/12_div/">[12_div Page 바로가기]</a>
    </p>
    <hr>
    <p>
        <a href="/front/13_jsInputForm/">[13_jsInputForm Page 바로가기]</a>
    </p>
    <hr>
    <p>
        <a href="/front/14_radioView/">[14_radioView Page 바로가기]</a>
    </p>
    <hr>
    <p>
        <a href="/front/15_radioView/">[15_radioView Page 바로가기]</a>
    </p>
    <hr>
    <p>
        <a href="/front/16_checkBoxView/">[16_checkBoxView Page 바로가기]</a>
    </p>
    <hr>
    <p>
        <a href="/front/18_selectBoxView/">[18_selectBoxView Page 바로가기]</a>
    </p>
</body>
</html>